In [1]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.5.1.post0-py2.py3-none-any.whl (72 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.4/72.4 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=0.20.0 in /opt/mamba/lib/python3.10/site-packages (from category_encoders) (1.1.3)
Requirement already satisfied: scipy>=1.0.0 in /opt/mamba/lib/python3.10/site-packages (from category_encoders) (1.9.3)
Requirement already satisfied: patsy>=0.5.1 in /opt/mamba/lib/python3.10/site-packages (from category_encoders) (0.5.3)
Requirement already satisfied: statsmodels>=0.9.0 in /opt/mamba/lib/python3.10/site-packages (from category_encoders) (0.13.5)
Requirement already satisfied: pandas>=1.0.5 in /opt/mamba/lib/python3.10/site-packages (from category_encoders) (1.5.1)
Requirement already satisfied: numpy>=1.14.0 in /opt/mamba/lib/python3.10/site-packages (from category_encoders) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.0.5->category_encoders) (2022.6)
Requirement already satisfied: six in /opt/mamba/lib/python3.10/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.0.0 in /opt/mamba/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/mamba/lib/python3.10/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: packaging>=21.3 in /opt/mamba/lib/python3.10/site-packages (from statsmodels>=0.9.0->category_encoders) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/mamba/lib/python3.10/site-packages (from packaging>=21.3->statsmodels>=0.9.0->category_encoders) (3.0.9)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.5.1.post0

In [57]:
# Import librairies.
from src.utils import (  # local functions.
    extract_only_names, 
    select_first_element,
    country_to_continent
)  
import numpy as np
import pandas as pd
from category_encoders import OneHotEncoder, OrdinalEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.pipeline import make_pipeline, make_union
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.metrics import mean_squared_error, mean_absolute_percentage_error
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, learning_curve, validation_curve

ImportError: cannot import name 'country_to_continent' from 'src.utils' (/home/onyxia/work/Projet-Python/src/utils.py)

# Modélisation

## Importation des données

In [2]:
# Load the movie data into a pandas DataFrame.
movies_df = pd.read_pickle("./data/movies_tmdb.pkl")
print("Initial dimension :", movies_df.shape)

# Conserver seulement les lignes avec des buget et revenue non nuls.
movies_df = movies_df.query('budget > 0 and revenue > 0')
print("Dimension after restriction:", movies_df.shape)

# Restrictions des colonnes.
columns = [
    "release_date", "budget", "genres", "popularity", 
    "production_companies", "production_countries", "runtime", 
    "vote_average", "vote_count", "revenue"
]
movies_df = movies_df[columns]

movies_df.head(1)

Initial dimension : (10000, 25)
Dimension after restriction: (4974, 25)

,release_date,budget,genres,popularity,production_companies,production_countries,runtime,vote_average,vote_count,revenue
0,2009-12-15,237000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",3424.983,"[{'id': 25, 'logo_path': '/qZCc1lty5FzX30aOCVR...","[{'iso_3166_1': 'US', 'name': 'United States o...",162,7.542,27004,2920357254

## Pré-traitement des données

### Traitements généraux

In [3]:
# Listes des colonnes à traiter. 
colnames = ["genres", "production_countries", "production_companies"]

# Appliquer les fonctions de néttoyage.
for colname in colnames:
    try:
        # Extraire uniquement les noms.
        movies_df[colname] = movies_df[colname].apply(extract_only_names)
        # Remplacer les listes vides par `numpy.nan`.
        movies_df[colname] = movies_df[colname].apply(lambda x: np.nan if not x else x)
    except:
        pass

movies_df[colnames].head(2)

,genres,production_countries,production_companies
0,"[Action, Adventure, Fantasy, Science Fiction]","[United States of America, United Kingdom]","[20th Century Fox, Ingenious Media, Dune Enter..."
3,"[Family, Comedy, Fantasy]","[Germany, United States of America]","[Imagine Entertainment, Universal Pictures, LU..."

In [4]:
# Missing values.
movies_df.isna().sum()

release_date            0
budget                  0
genres                  1
popularity              0
production_companies    8
production_countries    6
runtime                 0
vote_average            0
vote_count              0
revenue                 0
dtype: int64

* Peu de valeurs manquantes par rapport à la taille initiale. Nous allons les supprimers ici.

In [5]:
# Supprimer les valeurs manquantesDelete missing values.
movies_df.dropna(inplace=True)

### Traitements spécifiques à la modélisation

#### **`genres`, `production_countries`, `production_companies`** 

1. **Extraction des attributs principaux.** : Au premier abord, nous allons considérer uniquement les attributs principaux pour les le genre, la production et les pays de chaque film, de sorte que nous extrayons le premier genre de la liste et l'utilisons comme caractéristique catégorielle. Nous utiliserons ensuite l'encodage à un coup ou l'encodage par étiquette pour représenter le genre primaire sous forme de valeur numérique dans la suite de la modélisation.

2. **Vectorisation suivi d'encodage**: Dans un second temps, nous pourrions tester la performance des modèles en utilisant les opérations de vectorisation sur ces variables catégorielles à modalité multiples. D'abord, on identifie la liste de tous les attributs unitaires qu'on ordonne. Un attribut unitaire est une modalité élémentaire. Le principe étant d'associer à chaque attribut unitaire une valeur entière. Ensuite, chaque modalité est représentée à l'aide d'un vecteur ordonnée dont la taille est le nombre d'attributs unitaires, et dont le k-ième élément indique la présence ou non de l'attribut numéro k. Par exemple, si on a :
|genres              |
|--------------------|
|["Action", "Family"]|
|["Adventure"]|

Les valeurs unitaires sont "Action", "Family" et "Adventure". Considérons l'ordre arbitraire (alphabétique): ("Action", "Adventure", "Family"). Alors la colonne `genres` sera représentée par:
|genres               |
|--------------------|
|(1, 0, 1)|
|(0, 1, 0)|

```python
#########################
##### Vectorisation #####
#########################

# Copier les donnees.
df = movies_df.copy()

# Identifier les valeurs unique dans la colonne genre. 
genres = df['genres'].apply(pd.Series).stack().unique()

# Créer une correspondance de genre à entier.
genre_map = {genre: i for i, genre in enumerate(genres)}

# Remplacer les genres par leur valeur entières.
df['genres'] = df['genres'].apply(lambda x: [genre_map[g] for g in x])

# Convertir la colonne genre en une matrix dense/
genres_matrix = pd.get_dummies(df['genres'].apply(pd.Series).stack()).groupby(level=0).apply(max)

# Ajouter la matrice au dataframe.
df = pd.concat([df, genres_matrix], axis=1)
```

In [6]:
###########################################
### Extraction des attributs principaux.###
###########################################

for colname in colnames:
    print(colname)
    movies_df[colname] = movies_df[colname].apply(select_first_element)
    
movies_df[colnames].head(5)

genres
production_countries
production_companies

      genres      production_countries   production_companies
0     Action  United States of America       20th Century Fox
3     Family                   Germany  Imagine Entertainment
5  Adventure            United Kingdom   Walt Disney Pictures
6     Action  United States of America   DreamWorks Animation
8     Comedy  United States of America         Orion Pictures

#### **`Release date`** 

Nous avons réfléchi à plusieurs façons de gérer ces caractéristiques pour notre modélisation. Parmi celles-ci :

1. Utiliser les dates **tel quel**. Cela est intéressant car on conserverais toute l'information mais impliquerait trop de catégories à inclure et expliquerait la matrice des caractéristiques pour les modèles qui ont besoin d'un encodage catégoriel. 

2. **Regrouper les dates** dans des catégories, telles que "récent", "moyen" et "ancien", en fonction de la date de sortie, puis utiliser ces catégories comme une caractéristique catégorielle dans notre modèle. Nous ne souffrons plus du problème de cardinalité élevée. Néanmoins, il est clair, d'après l'analyse descriptive, que les recettes du box-office ont augmenté au fil des ans et que cette tendance se poursuit. 

3. **Extraire les caractéristiques de la date**: la troisième option consiste à extraire des caractéristiques de la colonne `release_date`, telles que l'année, le mois et le jour. On peut ensuite utiliser ces caractéristiques comme données d'entrée de le modèle d'apprentissage. Cela pourrait être intéressant si l'on pense que par exemple, le mois ou le jour de sortie a un impact. Cette dernière hypothèse paraît très peu plausible, encore moins à long-terme. 

- Finalement, nous avons décidé d'écarter cette variable dans le cas de notre étude. Nous pensons qu'elle pourrait être mieux exploitée par une analyse de série temporelle qui étudie des saisonnalités (cycle) de réussite, éventuellement désagrégé par pays de production (panel).

In [11]:
# Supprimer la date de sortie.
movies_df.drop(columns=["release_date"], inplace=True)

#### Variables numériques à grande variabilités

Les films ont des chiffres d'affaires (`revenue`) et `budget` très élévé. Ainsi, afin de réduire l'influence des valeurs extrêmes et améliorer la linéarité du modèle (utile pour la régression linéaire surtout), nous utiliserons le logarithme. En effet, la fonction logarithme permet de réduire l'influence des valeurs extrêmes sur le modèle, car elle "étale" les valeurs sur une plage plus large. Cela peut être utile si vous avez des valeurs de chiffre d'affaires très élevées ou très faibles qui pourraient autrement perturber le modèle. D'autre part, si la relation entre les features et la cible n'est pas linéaire, utiliser la fonction log sur la cible peut aider à améliorer la linéarité et à rendre le modèle plus facile à interpréter. Enfin, quand on utilise log sur la cible, cela permet de facilement comparer les performances de notre modèle avec d'autres modèles en utilisant des métriques comme l'erreur absolue moyenne (MAE), ou le coefficient de détermination (R2).

In [15]:
# Calculer le logarithme du budget et du revenue.
movies_df["logbudget"] = np.log(movies_df["budget"]) 
movies_df["logrevenue"] = np.log(movies_df["revenue"])

#### **Variables catégorielles à cardinalité faible ou élevée**

La prochaine chose à laquelle nous devons faire attention, ce sont les variables catégorielles avec une **cardinalité faible ou élevée**. S'il n'y a qu'une seule catégorie dans une colonne, elle ne fournira aucune information unique à notre modèle. À l'autre extrême, les colonnes où presque chaque ligne a sa propre catégorie n'aideront pas notre modèle à identifier des tendances utiles dans les données.

Jetons un coup d'œil à la cardinalité de nos caractéristiques.

In [12]:
# Unique values.
movies_df.nunique()

budget                   598
genres                    18
popularity              4578
production_companies     944
production_countries      65
runtime                  150
vote_average            2330
vote_count              2748
revenue                 4692
logbudget                598
logrevenue              4692
dtype: int64

La variable `production_companies` a trop de valeurs uniques (944 sur 5000 observations). Cela peut augmenter la dimensionnalité des données et les rendre difficiles à modéliser. Nous allons regrouper les sociétés de production dans des classes basées sur le nombre de films qu'elles ont produits (**discrétisation**). Cela aura pour conséquence de réduire le nombre de valeurs uniques et faciliter la modélisation des données.

In [16]:
# Define a function.
def number_values_cumulative(self, column, quantile):
    return (self[column].value_counts(normalize=True).cumsum() < quantile).sum()
# Define a method inside the DataFrame class.
pd.DataFrame.number_values_cumulative = number_values_cumulative

movies_df.number_values_cumulative("production_companies", 0.50)

12

In [19]:
for col in ["production_companies", "production_countries"]:
    print(pd.DataFrame([
        (q, movies_df.number_values_cumulative(col, q)) for q in np.linspace(0.1, 1.0, num=10)
    ], columns=["quantile", f"No {col}"]))

   quantile  No production_companies
0       0.1                        1
1       0.2                        2
2       0.3                        4
3       0.4                        7
4       0.5                       12
5       0.6                       28
6       0.7                       65
7       0.8                      167
8       0.9                      447
9       1.0                      944
   quantile  No production_countries
0       0.1                        0
1       0.2                        0
2       0.3                        0
3       0.4                        0
4       0.5                        0
5       0.6                        0
6       0.7                        1
7       0.8                        3
8       0.9                        7
9       1.0                       65

**Remarques**
* Douze (12) compagnies se partagent la production de 50% des films de notre jeu de données.
* 90% des films de notre jeu de données ont été produit dans 7 pays.

In [47]:
# Compter le nombre de films produits par chaque compagnies.
counts = movies_df['production_companies'].value_counts()

# Conserver les 12 premières compagnies. 
top_12 = counts[:12]

# Créer une classification pour les autres compagnies.
labels = ["compagnies_g" + str(i) for i in range(1, 5)]
others = pd.cut(counts[12:], bins=4, labels=labels)

# Concatener les 12 premières compagnies avec les autres.
bins = pd.concat([top_12, others])

# Renommer les items en utilisant le nom des compagnies au lieu de l'effectif.
for id, (key, value) in enumerate(bins.items()):
    if id < 12:
        bins[key] = key

# Associer les compagnies de production à leur classe respectives.
movies_df["production_companies2"] = movies_df["production_companies"].map(bins)

In [56]:
movies_df["production_countries"].value_counts()[7:].index

Index(['Spain', 'Italy', 'India', 'China', 'Hong Kong', 'Belgium',
       'South Korea', 'Ireland', 'Denmark', 'Mexico', 'Czech Republic',
       'New Zealand', 'Russia', 'Argentina', 'Netherlands', 'Brazil',
       'Bulgaria', 'South Africa', 'Switzerland', 'United Arab Emirates',
       'Austria', 'Norway', 'Thailand', 'Sweden', 'Hungary', 'Luxembourg',
       'Finland', 'Morocco', 'Greece', 'Poland', 'Taiwan', 'Namibia', 'Aruba',
       'Israel', 'Slovakia', 'Romania', 'Indonesia', 'Chile', 'Iceland',
       'Venezuela', 'Ecuador', 'Malaysia', 'Philippines', 'Belarus', 'Turkey',
       'Estonia', 'Ghana', 'Colombia', 'Afghanistan', 'Soviet Union', 'Kuwait',
       'Libyan Arab Jamahiriya', 'Iran', 'Singapore', 'Uruguay', 'Peru',
       'Cambodia', 'Qatar'],
      dtype='object')

In [48]:
((
    movies2_df.groupby("production_companies")["revenue"]
    .sum().sort_values(ascending=False).cumsum() / movies2_df["revenue"].sum()
) < 0.4).sum()

6

### Partage du jeu en données d'apprentissage et données test.

In [ ]:
# Subset Data.
modelcols = [
    "genres", "popularity", "production_companies", "production_countries", 
    "budget", "runtime", "vote_average", "vote_count", "revenue"
]
movies2_df = movies_df[modelcols]

# Split features and target.
target="revenue"
X = movies2_df.drop(columns=target)
y = movies2_df[target]
print("X shape:", X.shape)
print("y shape:", y.shape)

# Train-Test split.
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)
print("X_train shape:", X_train.shape)
print("y_train shape:", y_train.shape)
print("X_test shape:", X_test.shape)
print("y_test shape:", y_test.shape)

## Création de pipelines.

**Pipelines**
- [x] Dealing Missing values
- [x] Handling Outliers
- [x] One Hot Encoding (categorical features)
- [x] Normalization Operations (numerical features)
- [ ] ~Vectorization? (for features with list as values)~

In [179]:
# Filter features according to their type. 
numerical_features = make_column_selector(dtype_include=np.number)
categorical_features = make_column_selector(dtype_include=object)

# Create a pipeline of transformation for each type of columns.
## Impute missing by the median and standardize numerical features.
numerical_pipeline = make_pipeline(
    SimpleImputer(strategy='median'), 
    StandardScaler()
)

## Impute missing by the mode and one-hot categorical features.
categorical_pipeline = make_pipeline(
    SimpleImputer(strategy='most_frequent'), 
    OneHotEncoder(drop=None, handle_unknown='ignore')
)

# Create transformer to apply pipeline transformation to each groups of columns.
preprocessor = make_column_transformer(
    (numerical_pipeline, numerical_features),
    (categorical_pipeline, categorical_features)
)

In [ ]:




# Baseline mean square error
acc_baseline = y_train.value_counts(normalize=True).max()
print("Baseline Accuracy:", round(acc_baseline, 2))


## Iterate.

# Create a pipeline.
model = make_pipeline(
    OneHotEncoder(use_cat_names=True),
    SimpleImputer(),
    Ridge()
)

# Fit the model.
model.fit(X_train, y_train)

# Evaluate.

## Testing result using embedding / vectorisation for categorical

# Communicate Results