### 1  Importation

In [11]:
import pandas as pd
import csv

df = pd.read_csv("data/df_tmdb.csv", sep=",")
df

,Unnamed: 0,id,Titre,Original_title,Original_language,Production_companies,Production_countries,Release_date,Popularity,Budget,Overview,Runtime,Revenu,Spoken_languages,Tagline,Vote_average,Vote_count,Genres,Adult
0,0,2,Ariel,Ariel,fi,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",1988-10-21,20.594,0,Taisto Kasurinen is a Finnish coal miner whose...,73,0,"[{'english_name': 'Finnish', 'iso_639_1': 'fi'...",NaN,7.075,208,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",False
1,1,3,Shadows in Paradise,Varjoja paratiisissa,fi,"[{'id': 2303, 'logo_path': None, 'name': 'Vill...","[{'iso_3166_1': 'FI', 'name': 'Finland'}]",1986-10-17,17.452,0,"An episode in the life of Nikander, a garbage ...",74,0,"[{'english_name': 'Swedish', 'iso_639_1': 'sv'...",NaN,7.245,204,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",False
2,2,5,Four Rooms,Four Rooms,en,"[{'id': 14, 'logo_path': '/m6AHu84oZQxvq7n1rsv...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-09,32.107,4000000,It's Ted the Bellhop's first night on the job....,98,4257354,"[{'english_name': 'English', 'iso_639_1': 'en'...",Twelve outrageous guests. Four scandalous requ...,5.706,2265,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",False
3,3,6,Judgment Night,Judgment Night,en,"[{'id': 182, 'logo_path': None, 'name': 'JVC',...","[{'iso_3166_1': 'US', 'name': 'United States o...",1993-10-15,23.460,21000000,"While racing to a boxing match, Frank, Mike, J...",109,12136938,"[{'english_name': 'English', 'iso_639_1': 'en'...",Don't move. Don't whisper. Don't even breathe.,6.600,268,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",False
4,4,8,Life in Loops (A Megacities RMX),Life in Loops (A Megacities RMX),en,"[{'id': 19123, 'logo_path': None, 'name': 'inL...","[{'iso_3166_1': 'AT', 'name': 'Austria'}]",2006-01-01,2.170,42000,Timo Novotny labels his new project an experim...,80,0,"[{'english_name': 'English', 'iso_639_1': 'en'...",A Megacities remix.,7.738,21,"[{'id': 99, 'name': 'Documentary'}]",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3922,3922,7984,In the Name of the Father,In the Name of the Father,en,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",1993-12-12,15.991,13000000,"A small time thief from Belfast, Gerry Conlon,...",133,65796862,"[{'english_name': 'English', 'iso_639_1': 'en'...",Falsely accused. Wrongly imprisoned. He fought...,7.912,1448,"[{'id': 18, 'name': 'Drama'}]",False
3923,3923,7985,Penelope,Penelope,en,"[{'id': 273, 'logo_path': None, 'name': 'Tatir...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",2006-03-01,14.484,15000000,"Forlorn heiress Penelope Wilhern is cursed, an...",103,21156270,"[{'english_name': 'English', 'iso_639_1': 'en'...",A fairytale like no other.,6.700,1255,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",False
3924,3924,7987,Head Under Water,Freischwimmer,de,"[{'id': 329, 'logo_path': None, 'name': 'Typho...","[{'iso_3166_1': 'DE', 'name': 'Germany'}]",2007-09-05,2.598,0,Something terrible is about to happen in a sma...,110,0,"[{'english_name': 'German', 'iso_639_1': 'de',...",NaN,5.000,7,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",False
3925,3925,7988,The Island,The Island,en,"[{'id': 33, 'logo_path': '/8lvHyhjr8oUKOOy2dKX...","[{'iso_3166_1': 'US', 'name': 'United States o...",1980-06-13,6.047,22000000,David Nau leads a band of modern day pirates w...,114,15700000,"[{'english_name': 'English', 'iso_639_1': 'en'...",For three hundred years a terrifying secret ha...,5.295,66,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",False
3926,3926,7992,It's a Free World...,It's a Free World...,en,"[{'id': 225, 'logo_path': '/cmxkBc3dmwWaIHFCrk...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...",2007-09-28,6.134,0,Angie is a working class woman. After being fi...,96,0,"[{'english_name': 'Persian', 'iso_639_1': 'fa'...",NaN,6.500,80,"[{'id': 18, 'name': 'Drama'}]",False

### 2 Analyse descriptive

In [12]:
# Cleaning Genres :
def traitement_genre(genre):
    genres = []
    for type_genres in genre:
        genres.append(type_genres["name"])    
    return genres

df["genres"] = df["Genres"].apply(traitement_genre)


# Cleaning Production_countries :
def traitement_production_countries(pays):
    countries = []
    for type_pays  in pays:
        countries.append(type_pays["name"])    
    return countries

df["production_countries"] = df["Production_countries"].apply(traitement_production_countries)


# Cleaning Production_companies :
def traitement_production_companies(compagnie):
    companies = []
    for type_companies  in compagnie:
        companies.append(type_companies["name"])    
    return companies

df["production_companies"] = df["Production_companies"].apply(traitement_production_countries)
df

TypeError: string indices must be integers

### 3 Modélisation